<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataExportManagerConnectionString" type="System.String" requirePermission="false" />
    <section name="DataQualityEngineConnectionString" type="System.String" requirePermission="false" />
    <section name="TestCatalogueConnectionString" type="System.String" requirePermission="false" />
    <section name="UnitTestLoggingConnectionString" type="System.String" requirePermission="false" />
	<section name="ServerICanCreateRandomDatabasesAndTablesOnConnectionString" type="System.String" requirePermission="false" />
  </configSections>

  <!--Things that will be copied into DatabaseSettings, there should be no other database servers referenced in DatabaseSettings, all other database/server entities should be referenced from ExternalDatabaseServer in Catalogue database and configured on a per catalogue basis e.g. ANO!-->
  <DataExportManagerConnectionString>Server=localhost;Database=HICPlugin_TestDataExportManager;Integrated security=true</DataExportManagerConnectionString>
  <DataQualityEngineConnectionString>Server=localhost;Database=HICPlugin_TestDataQualityEngine;Integrated security=true</DataQualityEngineConnectionString>
  <TestCatalogueConnectionString>Server=localhost;Database=HICPlugin_TestCatalogue;Integrated security=true</TestCatalogueConnectionString>

  <!--Things that you should create references to inside of the DataCatalogue database-->
  <UnitTestLoggingConnectionString>Server=localhost;Database=HICPlugin_TestLogging;Integrated security=true</UnitTestLoggingConnectionString>
  <ServerICanCreateRandomDatabasesAndTablesOnConnectionString>Data Source=localhost;Integrated Security=true</ServerICanCreateRandomDatabasesAndTablesOnConnectionString>
</configuration>